html {
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.1);
}
body {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  gap: 1rem;
}
.wrapper {
  margin: 0;
  width: 350px;
  height: 600px;
  border: 2px transparent;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 0.75);
  position: relative;
  overflow: hidden;
  box-shadow: 0.5rem 0.5rem 8px rgba(100, 100, 100, 0.5);
}
img {
  box-sizing: content-box;
  width: 350px;
  height: auto;
  _overflow: hidden;
  position: relative;
}
.transition::after {
  content: "";
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.75) 40%,
    rgba(255, 255, 255, 1) 80%
  );
  height: 50px;
  width: 350px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
}
.credit {
  padding: 0%;
  margin: 0;
  background-color: transparent;
  position: absolute;
  font-size: 0.5rem;
  bottom: 1rem;
  width: fit-content;
  color: rgb(180, 180, 180);
  font-weight: 500;
}

.image {
  position: relative;
}
.credit {
  padding-left: 8px;
}
.container {
  margin: 0;
  border: 2px solid transparent;
  border-radius: 16px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.05);
  position: absolute;
  bottom: 8px;
  left: 8px;
  right: 8px;
  height: 160px;
}
.transition-2::after {
  content: "";
  background-image: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.75) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  height: 50px;
  width: 350px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}
section {
  display: flex;
  flex-direction: column;
}
.description {
  font-size: 0.8rem;
  max-width: 43ch;
  padding: 10px;
  position: relative;
}
.model {
  font-weight: 600;
  font-size: 1rem;
  padding-top: 1rem;
}
.desc-text {
  color: grey;
}
.price-tag {
  text-align: center;
  background-color: white;
  border-radius: 4px;
  padding-block: 0.5rem;
  top: 8px;
  left: 8px;
  right: 8px;
}
.selections {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  font-size: 0.75rem;
  justify-content: space-between;
}
.colors {
  display: flex;
  flex-direction: row;
  font-size: 0.75rem;
  align-items: center;
  gap: 0.4rem;
}
.blue {
  background-color: rgb(74, 128, 243);
  height: 18px;
  width: 18px;
  border: 1px solid white;
  border-radius: 50%;
}
.red {
  background-color: rgb(223, 30, 104);
  height: 18px;
  width: 18px;
  border: 1px solid white;
  border-radius: 50%;
}
.black {
  background-color: black;
  height: 18px;
  width: 18px;
  border: 1px solid white;
  border-radius: 50%;
}
.green-black {
  background-image: linear-gradient(90deg, rgb(4, 179, 4) 50%, black 50%);
  height: 18px;
  width: 18px;
  border: 1px solid white;
  border-radius: 50%;
}
.blue-black {
  background-image: linear-gradient(90deg, rgb(74, 128, 243) 50%, black 50%);
  height: 18px;
  width: 18px;
  border: 1px solid white;
  border-radius: 50%;
}
.red-black {
  background-image: linear-gradient(90deg, rgb(223, 30, 104) 50%, black 50%);
  height: 18px;
  width: 18px;
  border: 1px solid white;
  border-radius: 50%;
}
.red-white {
  background-image: linear-gradient(90deg, rgb(223, 30, 104) 50%, white 50%);
  height: 18px;
  width: 18px;
  border: 1px solid white;
  border-radius: 50%;
}
.black-white {
  background-image: linear-gradient(90deg, black 50%, white 50%);
  height: 18px;
  width: 18px;
  border: 1px solid white;
  border-radius: 50%;
}
.add-button {
  background-color: rgb(45, 45, 160);
  color: white;
  padding-block: 0.5rem;
  border: 2px solid rgb(45, 45, 160);
  border-radius: 4px;
  font-size: 0.8rem;
  font-weight: 100;
}
.add-button:active {
  background-color: rgb(108, 108, 217);
  border: 2px solid rgb(108, 108, 217);
}
